#navlabel {
    font-size: 20px;
}

#logo {
    width: 100%;
    height: 70px;
}

nav {
    max-height: min-content;
}

.homeButton {
    margin-top: 10px;
    text-decoration: inherit;
    border: 3px solid;
    padding: 13px 40px;
    background-color: rgb(124, 191, 66);
    border-color: rgb(107, 165, 56);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.homeButton:hover {
    -webkit-transition: 200ms ease-in;
    -moz-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(107, 165, 56);
    color: rgb(124, 191, 66);
}

.navbar-light .navbar-nav .nav-link {
    color: #198754;
    font-weight: bolder;
    font-size: larger;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #0d442a;
    border: 2px solid #198754;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    color: #104a2f;
}

#navLinks {
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.nav-item {
    padding: 5px;
    margin: 10px;
}

.nav-item:hover {
    padding: 5px;
    margin: 10px;
}

.canvas {
    background-color: white;
    max-width: 780px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    max-height: 380px;
}

.dropdown-toggle.btn-success {
    background-color: #28a745;
}

.delete {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.delete:hover,
.delete:focus {
    color: black;
    color: #1e2125;
    text-decoration: none;
    background-color: #e1e4e5;
}

h4 {
    font-weight: bolder;
    font-size: xx-large;
    color: antiquewhite;
    margin-top: 20px;
}

h5,
h6 {
    color: antiquewhite;
    font-weight: bolder;

}