    #map { height: 180px; }
    .logout_button{
    background-color: #6ba968;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
    }
    .logout_button:hover{
    background-color: #48ab4b;
    }
    #map{
    height: 400px;
    width: 80%;
    }
    .temperature , .rain , .precipitation {
    font-size: 1.1em;
    margin-top: 10px;
    }
    .forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: max-content;
    }

    .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 108px;
    height: 170px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .date {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    }
    #element{
    width: 120;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 170px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    table{
    width:100%;
    table-layout: fixed;
    }
    .tbl-header{
    background-color: rgba(255,255,255,0.3);
    }
    .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
    }
    th{
    padding: 20px 15px;
    text-align: left;
    font-size: 12px;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    }
    td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color:ivory;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    }


    /* demo styles */

    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
    table{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
    }
    section{
    margin: 50px;
    }

    ::-webkit-scrollbar {
    width: 6px;
    } 
    ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    } 
    ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    }
    /******************************** added******************************** */
    #map { height: 180px; }
    .logout_button{
    background-color: #6ba968;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
    }
