body {
    color: #666666;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    line-height: 1.80857;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    opacity: 1;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8;
}

.btn,
a {
    text-decoration: none !important;
    outline: none !important;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

ul,
li,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

button:focus,
:focus {
    outline: none;
    box-shadow: none;
}

/*------------------------------------------------------------------ Footer Main -------------------------------------------------------------------*/
.footer-main {
    padding: 70px 0px;
    background: #010101;
}

.footer-main hr {
    border-top: 1px solid rgba(255, 255, 255, .6);
}

.footer-top-box {
    margin-bottom: 30px;
}

.footer-top-box h3 {
    color: #ffffff;
    position: relative;
    font-size: 20px;
}

.footer-top-box h3::before {
    border-bottom: 2px solid #b0b435;
    content: "";
    height: 3px;
    width: 50%;
    position: absolute;
    bottom: 3px;
    left: 0px;
}

.list-time {
    margin-top: 15px;
}

.footer-top-box .list-time li {
    color: #ffffff;
    font-size: 16px;
    display: block;
    float: none;
}

.footer-top-box p {
    padding-bottom: 15px;
    color: #cccccc;
}

.footer-top-box ul {
    display: inline-block;
}

.footer-top-box ul li {
    float: left;
    margin-right: 5px;
}

.footer-top-box ul li a {
    color: #ffffff;
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 2px solid #ffffff;
    text-align: center;
    line-height: 32px;
}

.footer-top-box ul li a:hover {
    color: #b0b435;
    border-color: #b0b435;
}

.footer-widget,
.footer-link,
.footer-link-contact {
    margin-top: 15px;
}

.footer-widget h4 {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 700;
}

.footer-widget h4::before {
    border-bottom: 3px solid #b0b435;
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0px;
}

.footer-widget p {
    color: #cccccc;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 20px;
}
.footer-link h4 {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 700;
}

.footer-link h4::before {
    border-bottom: 3px solid #b0b435;
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0px;
}

.footer-link ul li {
    margin-right: 5px;
}

.footer-link ul li a {
    color: #ffffff;
    text-align: left;
    display: block;
    line-height: 32px;
    position: relative;
    padding-left: 15px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.footer-link ul li a::before {
    font-family: FontAwesome;
    content: "\f105";
    position: absolute;
    left: 5px;
    line-height: 35px;
    font-size: 16px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.footer-link ul li a:hover::before {
    left: 5px;
}

.footer-link ul li a:hover {
    color: #b0b435;
    border-color: #b0b435;
    padding-left: 20px;
}

.footer-link-contact h4 {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 700;
}

.footer-link-contact h4::before {
    border-bottom: 3px solid #b0b435;
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0px;
}

.footer-link-contact ul li {
    margin-bottom: 12px;
}

.footer-link-contact ul li i {
    position: absolute;
    left: 0;
    top: 5px;
    padding-right: 6px;
}

.footer-link-contact ul li p {
    padding-left: 25px;
    color: #cccccc;
    position: relative;
}

.footer-link-contact ul li p {
    font-size: 16px;
    color: #cccccc;
    font-weight: 300;
    padding-right: 16px;
    line-height: 24px;
}

.footer-link-contact ul li p a {
    color: #cccccc;
}

.footer-link-contact ul li p a:hover {
    color: #b0b435;
}

/*------------------------------------------------------------------ Copyright -------------------------------------------------------------------*/
.footer-copyright {
    background: #060606;
    padding: 20px 0px;
    position: relative;
}

.footer-copyright p {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

.footer-copyright p a {
    color: #ffffff;
}

.footer-copyright p a:hover {
    color: #b0b435;
}

/* ---------------------------------------------------------------------- Header --------------------------------------------------------------------------- */

.site-navbar {
    font-family: "Marcellus", sans-serif;
    margin-bottom: 0px;
    z-index: 1999;
    width: 100%;
}

.site-navbar .container-fluid {
    padding-left: 7rem;
    padding-right: 7rem;
}

.site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid #f3f3f4 !important;
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active>a {
    color: #000;
    display: inline-block;
    padding: 5px 20px;
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block;
}

.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
}

.site-navbar .site-navigation .site-menu>li .desc {
    font-size: 12px;
    color: #969696;
}

.site-navbar .site-navigation .site-menu>li>a {
    font-size: 16px;
    letter-spacing: .05rem;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
    color: #fff;
}
.site-navbar{
    background-color: #b0b435;
}
.header-top .img-fluid{
    max-width: 150px;
    max-height: 150px;
}
.header-top .row #header-icon{
    padding-right: 12px;
    padding-bottom: 15px;
    color: #267e1b;
}
.header-top .container .top {
    width: 100%;
    background-color: rgba(255,255,255,255);
}