<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
 
</head>

<body >
    
    <!-- Start header -->
    <div class="header-top ">
        
        <div class="container">
            <div class="top">
                <div class="row align-items-center">
                    <div class="col-6 col-lg-3">
                        <a href="index.html" class="logo">
                            <img src="/images/logo.jpg" alt="Image" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-3 d-none d-lg-block">
    
                        <div class="quick-contact-icons d-flex align-items-center">
                            <div class="icon align-self-center mt-3">
                                <span><i class="far fa-map-marker-alt fa-3x"  id="header-icon"></i></span>
                            </div>
                            <div class="text">
                                <span class="h4 d-block">Meknes</span>
                                <span class="caption-text">ESTM, Agouray Avenue, Morocco</span>
                            </div>
                        </div>
    
                    </div>
                    <div class="col-lg-3 d-none d-lg-block">
                        <div class="quick-contact-icons d-flex align-items-center">
                            <div class="icon align-self-center mt-3">
                                <span><i class="far fa-phone-alt fa-3x" id="header-icon"></i></span>
                            </div>
                            <div class="text">
                                <span class="h4 d-block"><a href="tel:+212701279004" style="text-decoration: none; color: blakc;" >+212 70127 9004</a></span>
                                <span class="caption-text">Call us</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3 d-none d-lg-block">
                        <div class="quick-contact-icons d-flex align-items-center">
                            <div class="icon align-self-center mt-3">
                                <span><i class="far fa-envelope fa-3x" id="header-icon"></i></span>
                            </div>
                            <div class="text">
                                <span class="h4 d-block">estm@edu.umi.ac.ma</span>
                                <span class="caption-text">Email us</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-6 d-block d-lg-none text-right">
                        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

            <div class="container">
                <div class="d-flex align-items-center">

                    <div class="mx-auto">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                                <li class="active">
                                    <a href="index.html" class="nav-link text-left">Home</a>
                                </li>
                                <li>
                                    <a href="about.html" class="nav-link text-left">About Us</a>
                                </li>
                                <li>
                                    <a href="services.html" class="nav-link text-left">Our Services</a>
                                </li>
                                <li>
                                    <a href="#copyright" class="nav-link text-left">Contact</a>
                                </li>
                            </ul>
                        </nav>

                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- End header -->

    <!-- Start Slider -->
    <!-- <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="/images/banner.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> E-agriculture</strong></h1>
                            <p class="m-b-40">Step into the future of agriculture planning, discover personalized crop
                                recommendations, historical data insights, and stay one step ahead with our weekly
                                forecast for your farming success.</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="/images/banner2.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> E-agriculture</strong></h1>
                            <p class="m-b-40">Step into the future of agriculture planning, discover personalized crop
                                recommendations, historical data insights, and stay one step ahead with our weekly
                                forecast for your farming success.</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="/images/banner3.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> E-agriculture</strong></h1>
                            <p class="m-b-40">Step into the future of agriculture planning, discover personalized crop
                                recommendations, historical data insights, and stay one step ahead with our weekly
                                forecast for your farming success.</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div> -->
    <!-- End Slider -->

    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Business Hours</h3>
                            <ul class="list-time">
                                <li>Monday - Friday: 08.00am to 06.00pm</li>
                                <li>Saturday: 10.00am to 08.00pm</li>
                                <li>Sunday: <span>Closed</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <!-- <div class="footer-top-box">
                            <h3>Social Media</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About us</h4>
                            <p>E-Agriculture is an innovative online platform designed to empower farmers with essential
                                information for optimized crop selection and planning.
                                With our advanced technologies, including the integration of ESP32, we provide farmers
                                with accurate recommendations based on their chosen location on the map,
                                historical data analysis, and detailed information about recommended crops.</p>
                            <p> Our user-friendly interface ensures that farmers can make informed decisions to maximize
                                their agricultural productivity.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Our Sitemap</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Delivery Information</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: ESTM 50000 <br>Agouray
                                        Street ,<br> Meknes </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a
                                            href="tel:+212-701279004">+212-701279004</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a
                                            href="mailto:a.qadry@edu.umi.ac.ma@gmail.com">estm@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright" id="copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2023 <a href="#">E-agriculture</a></p>
    </div>
    <!-- End copyright  -->



</body>

</html>